@charset "UTF-8";

body {
    background-image: url('imagens/pexels-tima-miroshnichenko-5380651.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;;

}
.foto {
    border: 5px solid #333;
    border-radius: 10px;
    padding: 5px;
    background-color: wheat;

    
}
.card.esquerda {
    text-align: justify;
    margin-left: 20px;
    margin-right: 20px;
}
.card {
    background-color: rgba(0, 0, 0, 0.6);
    padding: 10px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(223, 8, 8, 0.2);
    max-width: 600px;
    margin: auto;
    margin-top: 50px;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
    text-align: center;
}
.titulo { 
    text-align:center;
    width: 80%;
    color: white 

  
}
  .subtitulo {
    text-align: left;
    width: 200px;
    padding: 5px;
    margin: 0;
    border-radius: 8px;
    color: rgb(233, 226, 226); 
    
    
    }
h3 {
    color: rgb(255, 255, 255);
}

p {
    color: #f8fcf9;
}
ul {
    color: #fcf9f9;
}
a {
    color: rgb(20, 11, 100);
    text-decoration: none;
}